django==4.1
channels[daphne]
channels-redis
Twisted[tls,http2]
sweetify
gunicorn
django-htmx
django-jazzmin
django-environ
django-crispy-forms
django-cors-headers
django-cleanup
beautifulsoup4==4.11.1
boto3==1.28.56
django-storages==1.14
gunicorn==20.1.0
django-timezone-field==4.2.3
openai==0.26.5
opencv-contrib-python-headless==4.8.0.76
Pillow==9.2.0
requests==2.28.1
whitenoise==6.5.0
sweetify==2.3.1
urllib3==1.26.12
pytz==2022.2.1
pdfkit==1.0.0
celery==4.4.7
crispy-bootstrap5==0.6
django-widget-tweaks
django-celery-beat
psycopg2-binary==2.9.3
django-resized
ip2geotools
httpagentparser