django
channels[daphne]
channels-redis
Twisted[tls,http2]
sweetify
gunicorn
django-htmx
django-jazzmin
django-environ
django-crispy-forms
django-cors-headers
django-cleanup
beautifulsoup4
boto3
django-storages
django-timezone-field
openai
opencv-contrib-python-headless
Pillow
requests
sweetify
urllib3
pytz
pdfkit
celery
crispy-bootstrap5
django-widget-tweaks
django-celery-beat
psycopg2-binary
django-resized
ip2geotools
