{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>

<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="UTF-8">
	<title>SB Marketing - {{title}}</title>
	{% load static %}
	{% load sweetify %}
	{% sweetify %}


	<!-- CSS Bootstrab 5 -->
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap5.min.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/almazadi/logo2.png'%}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/almazadi/logo2.png'%}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/almazadi/logo2.png'%}">




	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="{% static 'styles/fontawesome.js' %}"></script>
	<!-- Google Font -->
	<link rel="stylesheet" type="text/css" href="{% static 'styles/googleapis.css' %}">

	<!-- CSS en -->

	<link rel="stylesheet" type="text/css" href="{% static 'styles/core.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/mycss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/ajax.css' %}">

	<!-- CSS ar {{% if LANGUAGE_CODE == en %}% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/core ar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style ar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/mycss ar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/ajax.css' %}">
	{% endif %}-->
	<script src="{% static 'scripts/html2pdf.bundle.min.js'%}"></script>
	<!-- HTMX.js -->
	<script src="{% static 'scripts/htmx.min.js'%}"></script>


	<!-- Ajax.js -->
	<script src="https://unpkg.com/htmx.org/dist/ext/ws.js" defer></script>

	<script src="{% static 'scripts/ajax.js' %}" defer></script>
	<!-- Jquery.js -->


	{% block css %}

	{% endblock css %}

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>

<body class="header-dark" >
<div hx-ext="ws" ws-connect="/ws/notifications/"></div>

	<!--
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="{% static 'images/almazadi/logo2.png'%}" alt=""></div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div>-->

	{% include 'header.html' %}

	{% include 'leftnav.html' %}


	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				{% include 'page_nav.html'%}
				<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
					<div id="toast" class="toast align-items-center text-white border-0" role="alert"
						aria-live="assertive" aria-atomic="true">
						<div class="d-flex">
							<div id="toast-body" class="toast-body"></div>
						</div>
					</div>
				</div>
				{% block body %}
				{% endblock body %}



				<div class="footer-wrap pd-20 mb-20 card-box">
					SB Marketing Tool <a href="https://soulnbody.net" target="_blank">SB</a>

				</div>
			</div>
		</div>
		{{request.user.username|json_script:"json-message-username"}}
		<!-- js -->
		<script src="{% static 'scripts/status.js' %}"></script>
		{% block js %}
		{% endblock js %}
		
		<!-- Bootstrab 5 JavaScript Bundle with Popper -->
		<script src="{% static 'scripts/bootstrab5.js' %}"></script>
		<script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
		<!-- JS layout -->

		<script src="{% static 'scripts/core.js' %}"></script>
		<script src="{% static 'scripts/toast.js' %}" defer></script>
		<script src="{% static 'scripts/script.min.js' %}"></script>
		<script src="{% static 'scripts/process.js' %}"></script>
		<script src="{% static 'scripts/layout-settings.js' %}"></script>
		
		<script src="{% static 'scripts/mCustomScrollbar.min.js' %}"></script>

		<!-- SweetAlert -->
		<script src="{% static 'plugins/sweetalert2/sweetalert2.all.js' %}"></script>
		<script src="{% static 'plugins/sweetalert2/sweet-alert.init.js' %}"></script>

</body>

</html>