{% load static %}
{% load i18n %}
<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        
        <div class="header-search">
            
        </div>


    </div>
    <div class="header-right">
        <div class="dashboard-setting user-notification">
            <div class="dropdown">
                <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                    <i class="dw dw-chat3"></i>
                </a>
            </div>
        </div>
        <div hx-get="{% url 'notification' %}" hx-trigger="load,changeNotification from:body" hx-target="this">

        </div>
 
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">

                        <img src="{{user.profile.profile_pic.url}}" alt="">
                    </span>
                    <span class="user-name">{{user.profile.fullname}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="{% url 'profile'%}"><i class="dw dw-user1"></i> {% trans "Profile" %}</a>
                    
                    <a class="dropdown-item" href="{% url 'settings'%}"><i class="dw dw-settings2"></i>{% trans "Setting" %}</a>
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        {% get_current_language as LANGUAGE_CODE %}                                         
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                        {% if LANGUAGE_CODE == 'ar' %}
                            <button type='submit' name='language' value='en' class="dropdown-item">
                                English
                            </button>
                        {% else %}
                            <button type='submit' name='language' value='ar' class="dropdown-item">
                                عربي
                            </button>
                        {% endif %}
                    </form>						
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="dw dw-logout"></i>{% trans "Logout" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-sidebar">
    <div class="sidebar-title">
        <h3>
            <i class="icon-copy ion-ios-people"></i> Users List
        </h3>
        <div class="close-sidebar" data-toggle="right-sidebar-close">
            <i class="icon-copy ion-close-round"></i>
        </div>
    </div>
    <div hx-get="{% url 'users_list' %}" hx-target="this" hx-trigger="load"></div>
</div>
